@import "..\\variables.scss";
@import "..\\mixins.scss";
@import "..\\colors\\dark.scss";
/*
    ��� �������� ��������
*/
.about_content__text {
    color: $fDefault;
    padding-bottom: $main_title-padding;

    p {
        padding: .25rem;
    }

    .up {
        padding-top: 1.25rem;
        // color: $fTitleDark;
        font-weight: bold;

        @include fontsize("text");
    }
}

/*
    ������-������
*/
.about_slide > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: '. text text .';
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    background: $bDefault;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:nth-child(2n) {
        height: 100vh;
    }
    &:nth-child(odd) {
        height: 80vh;
    }
    @include mq("desktop-wide") {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: '. text text .';
    }

    @include mq("tablet-wide", max) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: '. text text text text .';
    }

    @include mq("tablet", max) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: '. text text text text .';
    }

    @include mq("tablet-small", max) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'text text text';
    }

    @include mq("phone-wide", max) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'text text text';
    }

    p {
        padding: 1.5rem;
        grid-area: text;
        text-align: center;
        @include fontsize("title-descr");

        span {
            display: block;
            /*text-align: center;*/
            @include fontsize("title");
        }
    }
}

/*
    ������������� ��������� �������.
    ����������� � �������� ��������� �� ������������ ��������.
*/
.about_slide {
    .slide-left {
        background-position: left;
        background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
        background: linear-gradient(45deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

        @include mq("desktop-wide") {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: '. . text text';
        }

        @include mq("tablet-wide", max) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: '. . text text text text';
        }

        @include mq("tablet", max) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: '. . text text text text';
        }

        @include mq("tablet-small", max) {
            grid-template-columns: 1fr;
            grid-template-areas: 'text';
        }

        @include mq("phone-wide", max) {
            grid-template-columns: 1fr;
            grid-template-areas: 'text';
        }

        p {
            background-color: $bDefault;
        }
    }

    .slide-right {
        background-position: right;
        background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
        background: linear-gradient(-45deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

        @include mq("desktop-wide") {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'text text . .';
        }

        @include mq("tablet-wide", max) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 'text text text text . .';
        }

        @include mq("tablet", max) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 'text text text text . .';
        }

        @include mq("tablet-small", max) {
            grid-template-columns: 1fr;
            grid-template-areas: 'text';
        }

        @include mq("phone-wide", max) {
            grid-template-columns: 1fr;
            grid-template-areas: 'text';
        }

        p {
            background-color: $bDefault;
        }
    }

    .bg-light {
        p {
            background: $bDefault;
        }

        color: $fTitleDark;
    }

    .bg-dark {
        p {
            background: $fDark;
        }

        color: $fTitleBright;
    }
}

footer {
    background-color: $fDark;

    .bottom-menu__link {
        color: $fTitleBright;
    }
}
.line {
    display: none;
}

#page_1, #page_2 {
    position: relative;
}