{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/css/catalog/catalog.css' %}" />
{% endblock %}
{% block screen %}
<div class="main_screen about-screen_korz">
    <div class="main_title text-title-dark">{{ title }}</div>
    <div class="main_title_descr text-desc-dark">{{ message }}</div>
</div>
{% endblock %}
{% block content %}
<div class="about-content about-content_korz">
    <div class="korz-table">
        <div class="cells">
            {% for item in cart %}
            {% with variaciya=item.variaciya %}
                <div class="cell">
                    <div class="image">
                    {% if variaciya.gallery %}
                        {{ variaciya.random_image }}
                    {% else %}
                        /media/gallery/no_image.png
                    {% endif %}</div>
                    <div class="name">{{ variaciya.name }}
                        <div class="del"><a href="{% url "cart:cart_remove" variaciya.id%}">X</a></div>
                    </div>
                    <div class="size"><p>Размер <br />{{variaciya.size}}</p></div>
                    <div class="clr">Цвет <br />{{variaciya.colortile_korz}}</div>
                    <div class="cost">Цена <br />{{ item.cost }} р.</div>
                    <div class="count">Количетво <br />
                        <form action="{% url "cart:cart_add" variaciya.id %}" method='post' style="min-width: 0;">
                        {% csrf_token %}
                        {{ item.update_kolvo_form.kolvo }}
                        <br>
                        {{ item.update_kolvo_form.update }}
                        <input type='submit' value='Обновить'>
                        </form>
                    </div>
                    <div class="summ">Сумма <br />{{ item.summ }}</div>
                 </div>
            {% endwith %}
            {% endfor %}
            </div>
                    <br />
                <div class="itog">Общий итог заказа: {{ cart.get_total_summ }}</div>
            <form action="{% url 'get_order' %}" method="get">
                    {% csrf_token %}
                    <input name="korzina" type="hidden" value="{{kor}}">
                    <button type="submit" class="btn-base btn-dark" ><p>Оформить заказ</p></button>
            </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- 
<script>

        function del(e) {
            var id = e.getAttribute("data-id");
            korz.DelTovar(id, 1);
            korz.KorzinaGet();
        }

    $(document).ready(function () {
        if (typeof korz === 'undefined') {
            korz = new Korzina($('.korz-table'), $(".korz-preload"), [$("#korzcount"), $("#korzcount2")], "korzina");
        }
            korz.KorzinaGet();
    });
</script> -->
{% endblock %}