@import "variables.scss";
@import "mixins.scss";

.fullscreenmenu {
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    .greed {
        max-width: 800px;
        margin: auto;
        flex: 1;
        align-items: center;
        justify-content: center;

        section {
            margin-top: 1rem;
            header p {
                color: whitesmoke;
                transition: color .5s;
            }
        }

        section:hover header p {
                color: orange;
                transition: color .5s;
        }

        .user {
        }

        .cart {
        }

        .cart, .user {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;

            * {
                color: lightgray;
            }
        }


        .collections {
        }

        .categories {
        }

        .collections,
        .categories {
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            transition: all .5s;
            &__items {
                margin-top: 1rem;

                &__item,
                &__title {
                    /*float: left;*/
                    display: inline-block;

                    p {
                        padding: 1rem;

                        a {
                            color: gray;
                            font-size: 1.1rem;
                            border-bottom: 1px solid transparent;

                            &:hover {
                                color: white;
                                border-bottom: 1px solid orange;
                            }
                        }
                    }
                }
            }

            &__title {
                display: block;

                p {
                    padding: 1rem;
                    font-weight: bold;
                    color: white;
                    font-size: 1.25rem;
                }
            }

            &:hover {
                border-bottom: 1px solid rgba(255, 165, 0, 0.5);
                border-top: 1px solid rgba(255, 165, 0, 0.5);
                transition: all .5s;
            }
        }

        .contacts {
        }

    }
    .center {
        padding-top: 1rem;
        nav ul {
            padding: .5rem 0rem;
            width: 100%;
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 2em;
            a {
                padding: 0px .5em;
                font-size: 1.5em;
                border-bottom: 2px solid transparent;

                color: grey;
                @include fontsize("text");
                display: contents;
                transition: none;

                &:hover {
                    color: white;
                    transition: color .5s;
                }
            }
        }
    }
    .social {
        padding-bottom: 1rem;
        grid-area: social;
        display: grid;
        align-items: center;
        // background-color: blue;
        .sociallinks {
            &__item {
                display: inline-block;
                margin: 0px 1rem;
            }
        }
    }
}