@import "variables.scss";

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 15px;

    .block-one {
        -ms-grid-column: 1/13;
        grid-column: 1/13;
        position: relative;
        background-color: black;

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, black 0%, transparent 30%, transparent 70%, black 100%);
            /*opacity: 0.75;*/
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
        }

        .video {
            height: 100vh;
            width: 100%;
        }
    }

    .block-two {
        -ms-grid-column: 1/13;
        grid-column: 1/13;
        background-color: black;

        .drag_slider {
            height: 70vh;

            .slider-container {
                overflow: hidden;
            }
        }
    }
}

footer {
    background-color: $bg-dark;
    .bottom-menu__link {
        color: $fc-title_light;
    }
}
