{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/about/about.css' %}" />
{% endblock %}

{% block content %}
<div class="about_slide bg-fon-slide">
    <div class="bg-dark">
        <p>
            <span>Samvera</span> – это единение женщины с внутренним миром, безупречная гармония тела и лаконичного образа.
        </p>
    </div>
    <div class="slide-left" style="background-image: url(/media/about_2.jpg);">
        <p>
            <span>Наши образы</span> – это новое прочтение женственности, где желания, мысли и личность становятся важнее всего.
        </p>
    </div>
    <div class="" style="background-image: url(/media/about_3.jpg);">
        <p>
            Из изящных линий и невесомых фактур мы создаем изысканные силуэты, которые подчеркивают красоту и утонченность женского тела, внутреннюю силу и свободу эмоций.
        </p>
    </div>
    <div class="slide-right" style="background-image: url(/media/about_4.jpg);">
        <p>
            В коллекции, мы рассуждаем об истинной женственности, которая берет начало в сокровенных желаниях, гармонии тела и души.
        </p>
    </div>
    <div class="bg-dark" style="background-image: url(/media/about_5.jpg);">
        <p>
            <span>Каждый образ</span> – это философия душевной свободы, уникальность красоты и единение внутреннего мира с внешним образом.
        </p>
    </div>
</div>
{% endblock %}
