{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/css/about/about.css' %}" />
{% endblock %}
{% block screen %}
<div class="main_screen">
    <div class="main_screen__conteiner ">
        <div class="main_title text-title-dark">{{title}}</div>
        <br />
        <div class="main_title_descr text-desc-dark">{{message}}</div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main_content">
    <div class="about_content__text">
        <p class="up">Клиентская поддержка</p>
        <p>ПН-ПТ 09:00-18:00 (по МСК)</p>
        <p>СБ-ВС 10:00-17:00 (по МСК)</p>
        <p></p>
        <p class="up">Свяжитесь с нами</p>
        <p>info@samvera.ru</p>
        <p>+7 953 826 3661</p>
        <p>WhatsApp Message</p>
        <p></p>
        <p></p>
        <p>По вопросам сотрудничества, пожалуйста, пишите на почту info@samvera.ru</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}