{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="about-screen">
    <div class="about-conteiner">
        <div class="about-title"><p>Контакты</p></div>

        <div class="about-text">
            <p class="up">Клиентская поддержка</p>
            <p>ПН-ПТ 09:00-18:00 (по МСК)</p>
            <p>СБ-ВС 10:00-17:00 (по МСК)</p>
            <p></p>
            <p class="up">Свяжитесь с нами</p>
            <p>info@samvera.ru</p>
            <p>+7 953 826 3661</p>
            <p>WhatsApp Message</p>
            <p></p>
            <p></p>
            <p>По вопросам сотрудничества, пожалуйста, пишите на почту info@samvera.ru</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}