{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/catalog/catalog.css' %}" />
{% endblock %}
{% block screen %}
<div class="main_screen">
    <div class="main_screen__conteiner">
        <div class="main_title text-title-dark">{{title}}</div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="main_content catalog-items">
    {% for item in things %}
    <div class="container">
        <div class="container-item" style="background-image: url('/media/{{item.random_image}}')">
            <a href="/thing/{{item.id}}" class="cover"></a>
        </div>
        <div class="title">{{ item.title }}</div>
        <div class="cost">{{ item.cost }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
