{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/catalog/catalog.css' %}" />
{% endblock %}
{% block screen %}
<div class="main_screen">
    <div class="main_screen__conteiner">
        <div class="main_title text-title-dark">{{title}}</div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="main_content catalog-items">
    {% for item in things %}
    <div class="container">
        <div class="container-item" style="background-image: url('/media/{{item.random_image}}')">
            <div class="cover">
                <a href="{% url 'thing' item.id %}" class="btn-base btn-light"><p>Подробнее</p></a>
                {% if request.user.is_staff %}
                <a href="{% url 'thing_edit' item.id %}" class="btn-base btn-dark"><p>Редактировать</p></a>
                {% endif %}
            </div>
        </div>
        <div class="title">{{ item.title }}</div>
        <div class="cost">{{ item.cost }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
