{% extends "app/layout.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/flickity-docs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/catalog/catalog.css' %}" />
{% endblock %}

{% block screen %}
<!--<div class="main-screen" style="background-image: url('/media/{{thing.random_image}}')">
    <div class="main-screen__conteiner">
        <div class="main-title">{{title}}</div>
        <br />
        <div class="main-title_descr">{{message}}</div>
        <br />
        {{year}}
    </div>
</div>-->
{% endblock %}

{% block content %}

<div class="main_content thing-content">
    <div class="foto_cost slider"></div>
    <div class="title">{{thing.title}}</div>
    <div class="desc">
        <div class="descr">{{thing.descr}}</div>
    </div>
    <div class="variacii">
        <p>Размеры</p>
        <div class="sizes">{{thing.sizes|safe}}</div>
        <p>Цвета</p>
        <div class="colors">{{thing.colortile_korz|safe}}</div>
        <div class="cost"><p>Цена: {{thing.cost}}</p></div>
    </div>
    <div id="btn-id" class="btn-base btn-light" data-id="{{thing.id}}" onclick="add(this)"><p>В корзину</p></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/app/slick/slick.min.js' %}"></script>
<script type="text/javascript">
    function Slider(e) {
        var settings = {
            autoplay: false,
            //autoplaySpeed: 7000,
            slidesToShow: 1,
            centerMode: true,
            centerPadding: '0px',
            arrows: false,
            dots: true,
            infinite: true,
            speed: 300,
            fade: false,
            cssEase: 'linear'
        }
        $(".foto_cost").removeClass("slick-initialized slick-slider slick-dotted");
            $(".foto_cost").slick(settings);
    };

    function getphoto(v) {
        var request = $.ajax({
            url: `/getthingphtotoss/${v}/`,
            method: "get",
            // contentType: 'application/json; charset=utf-8',
            // data: { korzina: stroka },
            // dataType: 'text',
        });

        request.done(function (msg) {
            var m = JSON.parse(msg)
            $(".foto_cost").html(m.img);
            $("#btn-id").attr("data-id", m.id);
            Slider();
        });

        request.fail(function (jqXHR, textStatus) {
            $(".colors").html(`Извините, произошла ошибка ${jqXHR}\n${textStatus}`);
        });
    }

    function getcolors(t, s) {
        $('div[id^="size-"]').removeClass('size-select');
        $("div[id^='size-"+s+"']").addClass('size-select');
        var request = $.ajax({
            url: `/getthingcolors/${t}/${s}/`,
            method: "get",
            // contentType: 'application/json; charset=utf-8',
            // data: { korzina: stroka },
            // dataType: 'text',
        });

        request.done(function (msg) {
            $(".colors").html(msg);
            $('.colors div').removeClass('size-select');
            $(".colors div:first").addClass('size-select');
            getphoto($(".colors div:first").attr("data-var"));
            $("div[id^='color-']").click(function () {
                getphoto(this.getAttribute("data-var"));
            //Slider();
            });
        });

        request.fail(function (jqXHR, textStatus) {
            $(".colors").html(`Извините, произошла ошибка ${jqXHR}\n${textStatus}`);
        });
    }

    $('div[id^="size-"]').click(function () {
        getcolors(this.getAttribute("data-tovar"), this.getAttribute("data-size"));
            //Slider();
    });

    function add(e) {
        let id = e.getAttribute("data-id");
        korz.AddTovar(id, 1);
        //K = JSON.parse(localStorage.getItem("korzina"));
        //if (K == null) {
        //    var K = {}
        //    K.l = [];
        //}
        //var tovar = {
        //        id: e.getAttribute("data-id"),
        //        //img: e.getAttribute("data-img"),
        //        //name: e.getAttribute("data-name"),
        //        //cost: e.getAttribute("data-cost"),
        //        //color: e.getAttribute("data-color"),
        //        //size: e.getAttribute("data-size"),
        //        //article: e.getAttribute("data-article"),
        //        count: 1,
        //}
        //var len = K.l.length;
        //var hasTovat = false;
        //if (len > 0) {
        //    for (var i = 0; i < len; i++) {
        //        if (K.l[i].id == tovar.id && K.l[i].name == tovar.name) {
        //            hasTovat = true;
        //            K.l[i].count = parseInt(K.l[i].count) + parseInt(tovar.count);
        //            break;
        //        //} else {
        //        //    K.l.push(tovar);
        //        }
        //    }
        //};
        //if (hasTovat === false) {
        //    K.l.push(tovar);
        //}
        //localStorage.setItem("korzina", JSON.stringify(K));
        //loadkorzina(false);
    }

    $(document).ready(function () {
        var s = $(".sizes div:first");
        s.addClass('size-select');
        getcolors(s.attr("data-tovar"), s.attr("data-size"));
        //Slider();
    });
</script>
{% endblock %}