{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="catalog-screen">
    <div class="catalog-conteiner">
        <div class="catalog-title">{{title}}</div>
        <br />
        <div class="catalog-title_descr">{{message}}</div>
        <br />
        {{year}}
    </div>
</div>
<div class="order-content">
{% if orders.count > 0 %}
    <div class="accordion korz-table">
    {% for item in orders %}
        <div class="accordion-item rows">
          <a>Заказ № {{item.namber}} от {{item.date_create}} Статус {{item.status}}</a>
          <div class="content ">
              {% for t in item.tovary.all %}
            {% for v in t.variacii.all %}
            <div class="row">
                <div class="image">
                    <img src="/media/{{ v.variaciya.random_image }}" alt="{{t.tovar.title}}" />
                </div>
                <div class="discr">
                    <div class="name">{{t.tovar.title}}</div>
                    <div class="element">
                        <div class="size">Размер <br />{{v.variaciya.size}}</div>
                        <div class="clr">Цвет <br />{{v.variaciya.colortile_korz}}</div>
                        <div class="cost">Цена <br />{{t.tovar.cost}} р.</div>
                        <div class="count">Количетво <br />{{v.count}} шт.</div>
                        <div class="summ">Сумма <br />{{v.summ}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
          </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>У Вас ещё нет заказов.</p>
    <p>Посетите наш <a href="/catalog/">каталог</a> и закажите себе понравившиеся вещи!</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const items = document.querySelectorAll(".accordion a");

function toggleAccordion(){
  this.classList.toggle('active');
  this.nextElementSibling.classList.toggle('active');
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
{% endblock %}
