{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/account/account.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/catalog/catalog.css' %}" />
{% endblock %}

{% block content %}
<div class="main_screen">
    <div class="main_conteiner">
        <div class="main_title text-title-dark">{{title}}</div>
    </div>
</div>
<div class="main_content">
{% if orders.count > 0 %}
    <section class="lk-content ac-container">
      {% for item in orders %}
	    <div>
		  <input name="accordion-1" id="ac-{{ forloop.counter }}" type="radio" checked="">
		  <label for="ac-{{ forloop.counter }}">Заказ № {{item.namber}} от {{item.date_create}} Статус {{item.status}}</label>
		  <article>
            <div class="cells ">
              {% for t in item.tovary.all %}
                {% for v in t.variacii.all %}
                    <div class="cell">
                        <div class="image"><img src="/media/{{ v.variaciya.random_image }}" alt="{{t.tovar.title}}" /></div>
                        <div class="name">{{t.tovar.title}}</div>
                        <div class="size">Размер <br />{{v.variaciya.size}}</div>
                        <div class="clr">Цвет <br />{{v.variaciya.colortile_korz}}</div>
                        <div class="cost">Цена <br />{{t.tovar.cost}} р.</div>
                        <div class="count">Количетво <br />{{v.count}} шт.</div>
                        <div class="summ">Сумма <br />{{v.summ}}</div>
                    </div>
                {% endfor %}
              {% endfor %}
            </div>
		    </article>
	    </div>
      {% endfor %}
    </section>
{% else %}
    <div class="lk-content">
        <p>У Вас ещё нет заказов.</p>
        <p>Посетите наш <a href="/catalog/">каталог</a> и закажите себе понравившиеся вещи!</p>
    </div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const items = document.querySelectorAll(".accordion a");

function toggleAccordion(){
  this.classList.toggle('active');
  this.nextElementSibling.classList.toggle('active');
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
{% endblock %}
