{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/account/account.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/catalog/catalog.css' %}" />
{% endblock %}

{% block content %}
<div class="main_screen">
    <div class="main_conteiner">
        <div class="main_title text-title-dark">{{title}}</div>
    </div>
</div>
<div class="main_content">
{% if orders.count > 0 %}
    <section class="lk-content ac-container">
      {% for item in orders %}
	    <div>
		  <input name="accordion-1" id="ac-{{ forloop.counter }}" type="radio" checked="">
		  <label for="ac-{{ forloop.counter }}">Заказ № {{item.namber}} от {{item.date_create}} Статус {{item.status}}</label>
		  <article>
            <table>
                <thead>
                    <tr>
                    <th>Наименование</th>
                    <th>Размер/</br>Цвет</th>
                    <th>Кол-во (шт.)</th>
                    <th>Цена (руб.)</th>
                    <th>Сумма (руб.)</th>
                </tr>
                </thead>
                <tbody>
                    {% for v in item.ordervars.all %}
                    <tr>
                        <td>{{v.variaciya.tovar.title}}</td>
                        <td>{{v.variaciya.size}}</br>{{v.variaciya.colortile_korz}}</td>
                        <td>{{v.count}}</td>
                        <td>{{v.cost}}</td>
                        <td>{{v.summ}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
		    </article>
	    </div>
      {% endfor %}
    </section>
{% else %}
    <div class="lk-content">
        <p>У Вас ещё нет заказов.</p>
        <p>Посетите наш <a href="/catalog/">каталог</a> и закажите себе понравившиеся вещи!</p>
    </div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const items = document.querySelectorAll(".accordion a");

function toggleAccordion(){
  this.classList.toggle('active');
  this.nextElementSibling.classList.toggle('active');
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
{% endblock %}
