{% extends "app/layout.html" %}

{% block content %}
<div class="main_screen">
    <div class="">
        <div class="main_title text-title-light">{{title}}</div>
        <br />
        <div class="main_title_descr text-desc-light">{{message}}</div>
        <br />
        <section id="loginForm">
            <form action="{% url 'login' %}" method="post" class="white_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username" class="field_title">Логин</label>
                    <div class="fieldWrapper">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="field_title">Пароль</label>
                    <div class="fieldWrapper">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="hidden" name="next" value="/catalog/" />
                        <button type="submit" class="btn-base btn-dark"><p>Вход</p></button>
                    </div>
                </div>
            </form>
                {% if form.errors %}
                <p class="validation-summary-errors" style="color: red;">Комбинация логина и пароля не верны!</p>
                {% endif %}
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
