{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/info/info.css' %}" />
{% endblock %}

{% block content %}
<div class="main_screen">
    <div class="main_conteiner">
        <div class="main_title text-title-dark">{{title}}</div>
        <br />
        <div class="main_title_descr text-desc-dark">{{message}}</div>
        <br />
        {{year}}
    </div>
</div>
<div class="main_content">
    <section class="ac-container">
	    <div>
		    <input name="accordion-1" id="ac-1" type="radio" checked="">
		    <label for="ac-1">Есть ли у Вас подарочные сертификаты?</label>
		    <article class="ac-small">
			    <p>Мы приготовили для вас подарочные сертификаты номиналом: 3000 руб., 5000 руб. и 10000 руб.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-2" type="radio">
		    <label for="ac-2">Какой у Вас самый большой размер?</label>
		    <article class="ac-medium">
			    <p>Размерная сетка Samvera включает размеры: XS, S, M.</p>
                <p>Так же в наших коллекциях встречаются вещи свободного кроя – размера ONE SIZE.</p>
                <ul>
                    <p>Если вы сомневаетесь в выборе размера, пожалуйста, свяжитесь с нами:</p>
                    <li>по телефону + 7 953 826 3661</li>
                    <li>по электронной почте <a href="mailto:info@samvera.ru?subject=Вопрос о размерах одежды">info@samvera.ru</a></li>
                    <li>другим удобным для вас способом.</li>
                </ul>
                <p class="help">Мы c удовольствием вам поможем!</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-3" type="radio">
		    <label for="ac-3">Где находится производство Samvera?</label>
		    <article class="ac-medium">
			    <p>Все изделия мы производим в России. На данный момент, преимущественно в Свердловской области.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-4" type="radio">
		    <label for="ac-4">Уход за изделиями</label>
		    <article class="ac-medium">
			    <ul>
                    <p>Чтобы одежда сохраняла форму максимально долго, мы рекомендуем:</p>
                    <li>Стирать вручную при температуре воды до 30° (избегать сильного трения и выкручивания)</li>
                    <li>Не отбеливать</li>
                    <li>Гладить при низкой температуре</li>
                    <li>Барабанная сушка запрещена</li>
                    <li>Сушить на горизонтальной плоскости в расправленном состоянии</li>
                    <li>Химчистка (сохранит внешний вид и правильную форму изделия)</li>
                    <li>Деликатная машинная стирка при температуре воды до 30°C;</li>
                    <li>Избегать механического воздействия (интенсивное трение о какую-либо поверхность, жесткие ремни сумок, рюкзаков и т.д.).</li>
                </ul>
            </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-5" type="radio">
		    <label for="ac-5">Где можно отслеживать статус заказа?</label>
		    <article class="ac-medium">
			    <p>Когда мы отправим ваш заказ, номер отслеживания придет вам на указанный вами email-адрес.</p>
                <p>В случае, если сообщение не пришло на email-адрес, проверьте папку "Спам", В случае, если сообщение Вам не пришло, свяжитесь с нами по телефону + 7 953 826 3661, по электронной почте zakaz@samvera.ru или другим удобным для вас способом. Мы c удовольствием вам поможем!</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-6" type="radio">
		    <label for="ac-6">Как сделать заказ в страны СНГ?</label>
		    <article class="ac-medium">
                <ul>
			        <p>Заказ оформляется на samvera.ru и оплачивается с помощью банковской карты VISA / MasterCard.</p>
                    <li>Служба доставки: CDEK.</li>
                    <li>Срок доставки: 2-10 рабочих дней, не считая дня отправления, выходных и праздничных дней.</li>
                    <li>Стоимость доставки — 500 рублей.</li>
                    <li>Время доставки с 9:00 до 18:00.</li>
                </ul>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-7" type="radio">
		    <label for="ac-7">Как сделать заказ в другую страну?</label>
		    <article class="ac-medium">
                <ul>
                    <p>Заказ оформляется на samvera.ru и оплачивается с помощью банковской карты VISA / MasterCard.</p>
                    <li>Служба доставки: DHL.</li>
                    <li>Срок доставки: 2-7 рабочих дней, не считая дня отправления (в зависимости от региона), выходных и праздничных дней.</li>
                    <li>Стоимость доставки — 1500 рублей.</li>
                    <li>Время доставки с 9:00 до 18:00.</li>
                </ul>
                <p>Просим принять во внимание, что в зависимости от страны и суммы заказа может возникнуть необходимость оплаты таможенных сборов согласно таможенному законодательству страны назначения. Для консультации по вопросу доставки вы можете обратиться в местное отделение DHL Express по адресу или телефону указанному на сайте: www.dhl.com.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-8" type="radio">
		    <label for="ac-8">Задерживается доставка, что делать?</label>
		    <article class="ac-medium">
                <p>Мы отправим запрос в курьерскую службу, постараемся оперативно решить данную проблему и предоставим всю информацию.</p>
                <ul>
                    <p>Свяжитесь с нами:</p>
                    <li>по телефону + 7 953 826 3661</li>
                    <li>по электронной почте <a href="mailto:info@samvera.ru?subject=Задержка доставки заказа">info@samvera.ru</a></li>
                    <li>другим удобным для вас способом.</li>
                </ul>
                <p class="help">Мы c удовольствием вам поможем!</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-9" type="radio">
		    <label for="ac-9">Есть ли примерка при доставке?</label>
		    <article class="ac-medium">
			    <p>Мы предоставляем услугу примерки вещей при получени заказа (не более 5 позиций) только в г. Екатеринбург.</p>
                <p>К Вам приедет курьер в назначенное время. Время примерки не более 15 минут. Все неподошедшие вещи можно вернуть курьеру.</p>
                <ul>
                    <p>Стоимость примерки:</p>
                    <li>бесплатно: при покупке товара;</li>
                    <li>300 рублей: при отказе от покупки товара;</li>
                </ul>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-10" type="radio">
		    <label for="ac-10">Стоимость и сроки доставки?</label>
		    <article class="ac-medium">
			    <p>Подробно ознакомиться с условиями доставки вы можете на сайте в разделе Оплата и Доставка.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-11" type="radio">
		    <label for="ac-11">Могу ли я оплатить заказ при получении?</label>
		    <article class="ac-medium">
			    <p>Доставка по России, в страны СНГ, другие страны происходит после полной предоплаты заказа на сайте <a href="www.samvera.ru">www.samvera.ru</a></p>
                <p>Оплата наличными доступна при оформлении доставки по г. Екатеринбург.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-12" type="radio">
		    <label for="ac-12">Способы оплаты заказа?</label>
		    <article class="ac-medium">
			    <p>Подробно ознакомиться со способами оплаты вы можете на сайте в разделе Оплата.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-13" type="radio">
		    <label for="ac-13">Обнаружен брак, что делать?</label>
		    <article class="ac-medium">
                <ul>
                    <p>Необходимо сделать фотографию дефекта и связаться с нами:</p>
                    <li>по телефону + 7 953 826 3661</li>
                    <li>по электронной почте <a href="mailto:info@samvera.ru?subject=Обнаружен брак!">info@samvera.ru</a></li>
                    <li>другим удобным для вас способом.</li>
                </ul>
			    <p class="help">Мы c удовольствием вам поможем!</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-14" type="radio">
		    <label for="ac-14">Сколько времени ждать возврат денежных средств, если я сделала возврат товара?</label>
		    <article class="ac-medium">
			    <p>Возврат будет осуществлен в течение 10 рабочих дней с момента получения нами вашего заявления, возвратной посылки.</p>
		    </article>
	    </div>
	    <div>
		    <input name="accordion-1" id="ac-15" type="radio">
		    <label for="ac-15">Не нашли ответ на ваш вопрос?</label>
		    <article class="ac-medium">
                <ul>
                    <p>Cвяжитесь с нами:</p>
                    <li>по телефону + 7 953 826 3661</li>
                    <li>по электронной почте <a href="mailto:info@samvera.ru">info@samvera.ru</a></li>
                    <li>другим удобным для вас способом.</li>
                </ul>
			    <p class="help">Мы c удовольствием вам поможем!</p>
		    </article>
	    </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
