{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<strong>Возврат товара надлежащего качества</strong> проводится, если товар не был в употреблении, сохранены его товарный вид, потребительские свойства, оригинальные этикетки и ярлыки, а также имеется товарный чек или кассовый чек.

Если покупка была совершена в интернет-магазине
Вы можете вернуть изделие надлежащего качества в течение <strong>7 дней*</strong> с момента получения заказа при покупке в интернет-магазине

1. Заполните бланк заявления на возврат товара (ссылка на документ ниже). Отправьте нам заявление на электронную почту vozvrat@samvera.ru, с указанием номера Вашего заказа и пояснением причины возврата.
2. Упакуйте товары в коробку и/или фирменный пакет, приложив к ним товарный чек (лист формата А4, который был приложен к заказу).
3. Отправьте посылку нам по адресу: г. Екатеринбург, ул. Сиреневый бульвар, д. 4, к. 1, кв. 121 на имя «Соколовский Д.М.» контактный телефон +7 953 826 3661.
Вы можете воспользоваться любой удобной для Вас курьерской службой. 
Доставка товара надлежащего качества оплачивается отправителем.
Дата фактической отправки заказа курьером или сдачи в магазин "Samvera" должна быть <strong>не позднее 7 дня</strong> с даты получения заказа;
*В соответствии с пунктом 21 Постановления Правительства РФ от 27.09.2007 N 612 «Об утверждении Правил продажи товаров дистанционным способом»

{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
