/*    COLOR -- FONTS    */
/*    COLOR -- BLOCKS   */
/*
FONTS SIZE
    phone: 300px
    phone-wide: 480px
    phablet: 560px

    tablet-small: 640px
    tablet: 768px
    tablet-wide: 1024px

    desktop: 1248px
    desktop-wide: 1440px

*/
/*    COLOR -- FONTS    */
/*    COLOR -- BLOCKS   */
/*
FONTS SIZE
    phone: 300px
    phone-wide: 480px
    phablet: 560px

    tablet-small: 640px
    tablet: 768px
    tablet-wide: 1024px

    desktop: 1248px
    desktop-wide: 1440px

*/
.catalog_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(150px, auto) minmax(auto, 1400px);
      grid-template-columns: minmax(150px, auto) minmax(auto, 1400px);
  -ms-grid-rows: minmax(85vh, auto);
      grid-template-rows: minmax(85vh, auto);
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-items {
  position: relative;
  z-index: 2;
  /*min-height: 100vh;*/
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  /*padding: 4rem 0px;*/
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.catalog-items .title {
  letter-spacing: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
  position: relative;
  /*.desc {
                text-align: center;
                color: darkgray;
            }*/
}

.container:hover {
  opacity: 1 !important;
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
}

.container .container-item {
  /*margin: 2rem;*/
}

.container .container-item:hover .cover {
  /*display: block;*/
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .container-item .cover {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 2rem;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: transparent;
  -webkit-transition: .25s all linear;
  transition: .25s all linear;
}

.container .container-item .cover a {
  text-decoration: none;
}

.container .container-item .cover > div {
  height: 1rem;
}

@media only screen and (max-width: 559px) {
  .container .container-item .cover {
    padding: 2rem 5%;
  }
}

.container .title {
  margin-top: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container .cost {
  margin-top: 1rem;
  letter-spacing: 1px;
}

.thing-content {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.thing-content .title {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.thing-content .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

@media only screen and (min-width: 1024px) {
  .thing-content .photos {
    grid-gap: 2rem;
  }
}

.thing-content .photos img {
  width: 100%;
}

.thing-content .desc,
.thing-content .variacii {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.thing-content .variacii > p {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-align: left;
}

.thing-content .variacii .sizes {
  padding: .5rem 0 1rem 0;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thing-content .variacii .sizes > div {
  border: 1px solid transparent;
  display: inline-block;
}

.thing-content .variacii .sizes > div:hover {
  cursor: pointer;
  border: 1px solid darkgray;
}

.thing-content .variacii .sizes .size-select {
  background-color: white;
  font-weight: bold;
  border: 1px solid black;
}

.thing-content .variacii .sizes .size-select:hover {
  border: 1px solid black;
}

.thing-content .variacii .colors {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: .5rem 0 1rem 0;
  text-align: left;
  border-bottom: 1px solid gray;
}

.thing-content .variacii .colors .color {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  margin: auto;
  -webkit-box-shadow: 0 0 0px 1px gray;
          box-shadow: 0 0 0px 1px gray;
  text-align: center;
  display: inline-block;
}

.thing-content .variacii .colors > div {
  cursor: pointer;
  margin: .5rem;
}

.thing-content .variacii .cost {
  margin: 1rem 0;
  font-weight: bold;
}

.thing-content .foto_cost {
  margin: auto;
}

.thing-content .btn {
  display: inline-block;
}

@media only screen and (max-width: 1023px) {
  .thing-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .thing-content .photos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

@media only screen and (max-width: 639px) {
  .thing-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .thing-content .photos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

.category {
  text-align: left;
  letter-spacing: 2px;
}

.category .category_item {
  padding: 0rem 1rem 1rem;
  margin-bottom: 1rem;
}

.category .category_item a {
  font-size: 1.2rem;
  font-weight: 300;
}

.category .category_item a:hover {
  color: #5d5d5d;
  border-bottom: 1px solid black;
}

.category .category_item__select a {
  border-bottom: 1px solid black;
}

.category .category_item__title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.category .category_item__title p {
  font-size: 1.5rem;
  font-weight: 300;
}

#cart_product_form {
  min-width: 40px;
}

.desc .tv-content {
  display: none;
}

.desc .tv-radio {
  display: none;
}

.desc .tv-radio:checked + .tv-content {
  display: block;
}

.desc .tv-tab {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}

.desc .tv-radio:checked,
.desc .tv-tab:hover {
  font-weight: bold;
  cursor: pointer;
}

.desc .tv-tabs {
  color: black;
  background-color: white;
}

.desc .tv-content {
  padding: .75rem;
  max-width: 600px;
}

.container_not_items {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_not_items p {
  font-size: 3rem;
  font-weight: 300;
}

/*
    KORZINA
*/
.cells {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .cells {
    -ms-grid-columns: (560px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 560px);
  }
}

@media only screen and (max-width: 767px) {
  .cells {
    -ms-grid-columns: (370px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 370px);
  }
}

@media only screen and (max-width: 639px) {
  .cells {
    -ms-grid-columns: (330px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 330px);
  }
}

.cells .cell {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
      grid-template-areas: "image name name" "image size color" "image count summ" "image edit delete";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0 0 20px -15px black;
          box-shadow: 0 0 20px -15px black;
  border: 1px solid lightgray;
  /*@include fontsize("text");*/
}

.cells .cell .image {
  /*height: 400px;*/
  /*width: 280px;*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: image;
}

.cells .cell .image img {
  width: 100%;
  height: auto;
}

.cells .cell .name {
  padding-right: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: name;
  position: relative;
}

@media only screen and (min-width: 300px) {
  .cells .cell .name {
    font-size: 20px;
  }
}

@media only screen and (min-width: 480px) {
  .cells .cell .name {
    font-size: 20px;
  }
}

@media only screen and (min-width: 560px) {
  .cells .cell .name {
    font-size: 22px;
  }
}

@media only screen and (min-width: 640px) {
  .cells .cell .name {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .cells .cell .name {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1024px) {
  .cells .cell .name {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1248px) {
  .cells .cell .name {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  .cells .cell .name {
    font-size: 28px;
  }
}

.cells .cell .name .del {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  font-weight: bold;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.cells .cell .size {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: size;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cells .cell .clr {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: color;
}

.cells .cell .cost {
  grid-area: cost;
  display: none;
}

.cells .cell .count {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: count;
}

.cells .cell .summ {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: summ;
}

.cells .cell .edit {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: edit;
}

.cells .cell .delete {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: delete;
}

footer {
  background-color: black;
}

footer .bottom-menu__link {
  color: white;
}
/*# sourceMappingURL=catalog.css.map */