{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}

{% block content %}
<div class="neworder-screen">
    <div class="neworder-conteiner">
        <div class="neworder-title">{{title}}</div>
        <br />
        <div class="neworder-title_descr">{{message}}</div>
        <br />
        <a class="neworder-title_descr btn-base btn-submit" href="/"><p>Перейти на главную страницу</p></a>
    </div>
</div>
<div class="neworder-content">
    {{mess}}
</div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
