{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="about-screen about-screen_korz">
    <div class="about-title">{{ title }}</div>
    <div class="about-title_descr">{{ message }}</div>
</div>
<div class="about-content about-content_korz">
    <div class="korz-table">
        <div class="korz-preload">Ваша корзина пуста</div>
    <!--<div class="row head"></div>
        <div class="rows"></div>
    <div class="itog"></div>-->
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>

        function del(e) {
            var id = e.getAttribute("data-id");
            korz.DelTovar(id, 1);
            korz.KorzinaGet();
        }

    $(document).ready(function () {
        if (typeof korz === 'undefined') {
            korz = new Korzina($('.korz-table'), $(".korz-preload"), [$("#korzcount"), $("#korzcount2")], "korzina");
        }
            korz.KorzinaGet();
    });
</script>
{% endblock %}
