{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="about-content">
    <div class="korz-table">
<div class="row head"></div>
<div class="row">
<div class="image"></div>
<div class="name"></div>
<div class="cost"></div>
<div class="count"></div>
<div class="summ"></div>
<div class="del"></div>
</div>
<div class="row">
<div class="image"></div>
<div class="name"></div>
<div class="cost"></div>
<div class="count"></div>
<div class="summ"></div>
<div class="del"></div>
</div>
<div class="row">
<div class="image"></div>
<div class="name"></div>
<div class="cost"></div>
<div class="count"></div>
<div class="summ"></div>
<div class="del"></div>
</div>
        <div class="itog"></div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
