{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}

{% block content %}
<div class="main_screen">
    <div class="main_screen__conteiner">
        <div class="main_title text-title-dark">{{title}}</div>
    </div>
</div>
<div class="main_content">
    <form action="." method="post">
        {% csrf_token %}
        <input name="korzina" type="hidden" value="{{korzina}}">
        {{ form.non_field_errors }}
        <div class="field_title">
            <p>Как к Вам обращаться?</p>
        </div>
        <div class="fieldWrapper">
            {{ form.last_name.errors }}
            <!--<label for="{{ form.last_name.id_for_label }}">Фамилия</label>-->
            {{ form.last_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.first_name.errors }}
            <!--<label for="{{ form.first_name.id_for_label }}">Имя Отчество</label>-->
            {{ form.first_name }}
        </div>
        <div class="field_title">
            <p>Укажите Ваш телефон</p>
        </div>
        <div class="fieldWrapper">
            {{ form.phone.errors }}
            <!--<label for="{{ form.phone.id_for_label }}">Мобильный телефон</label>-->
            {{ form.phone }}
            <div class="field_descr">
                <p><small>Необходим для связи с Вами и подтверждения заказа</small></p>
            </div>
        </div>

        <div class="field_title">
            <p>Адрес доставки</p>
        </div>
        <div class="fieldWrapper">
            {{ form.adres.errors }}
            <!--<label for="{{ form.phone.id_for_label }}">Мобильный телефон</label>-->
            {{ form.adress }}
            <div class="field_descr">
                <p><small>Укажите полный и достоверный адрес достави заказа<br>(Россия, Екатеринбург, Ленина 5 кв 3)</small></p>
            </div>
        </div>

        <div class="field_title">
            <p>Ваш email (электронный адрес)</p>
        </div>
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <!--<label for="{{ form.email.id_for_label }}">Электронный адрес (email)</label>-->
            {{ form.email }}
            <div class="field_descr">
                <p><small>Необходим для отправки уведомлений о статусе заказа</small></p>
            </div>
        </div>
        <div class="field_title">
            <button type="submit" class="btn-base btn-dark btn-submit"><p>Подтвердить заказ товара</p></button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{% static 'app/scripts/jquery.maskedinput.js' %}"></script>
<script>
    $(function () {
        $("#id_phone").mask("8 (999) 999-9999");
    });
</script> -->
{% endblock %}
