@import "../variables.scss";
@import "../mixins.scss";

.logo {
    width: 80%;
}


.things {
}

.orders {
}

.image {
            height: 200px;
            width: 140px;
    .carousel-cell {
        img {
            height: 200px;
            width: 140px;
        }
    }
}

small {
    font-size: small;
}

.cells {
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px)) !important;
}


/* Базовый контейнер табов */
.tabs {
    min-width: 300px;
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs > section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

.tabs > section > p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Прячем чекбоксы */
.tabs > input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs > label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */
.tabs > input:checked + label {
    color: #555;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4 {
    display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
    .tabs > label {
        font-size: 0;
    }

    .tabs > label:before {
        margin: 0;
        font-size: 18px;
    }
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
    .tabs > label {
        padding: 15px;
    }
}



.ac-container input {
    display: none;
}

.ac-container > div {
    padding: .5rem;
    border-bottom: 1px solid lightgray;
}

.ac-container label {
    cursor: pointer;
    font-weight: 400;
    @include fontsize("form-field-title");
}

.ac-container article {
    overflow: hidden;
    max-height: 0px;
    position: relative;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;

    .help {
        margin-top: 1rem;
        text-align: center;
        text-indent: 0px;
    }
}

.ac-container article p {
    text-indent: 1rem;
    padding: .225rem 0px;

    @include mq("tablet-wide") {
        text-align: justify;
    }

    @include mq("tablet") {
        text-align: center;
    }

    @include mq("tablet", max) {
        text-align: justify;
    }
}

.ac-container a {
    text-decoration: none;
    color: $fc-gray;
    font-weight: bold;

    &:hover {
        color: $fc-Default;
    }
}

.ac-container > article > ul {
    text-align: left;
    margin: auto;

    @include mq("tablet") {
        width: 75%;
    }

    @include mq("tablet-wide") {
        width: 50%;
    }

    @include mq("tablet", max) {
        width: 100%;
    }

    li {
        margin-left: 1rem;
        padding: .2rem 0px;
    }
}

.ac-container label:hover {
    font-weight: 700;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
    font-weight: bold;
    -webkit-transition: font-weight 1s linear;
    -moz-transition: font-weight 1s linear;
    -o-transition: font-weight 1s linear;
    -ms-transition: font-weight 1s linear;
    transition: font-weight 1s linear;
}

.ac-container input:checked ~ article {
    max-height: 999px;
    height: auto;
    padding: 1rem 0px;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
